.popup__error {
    margin: 5px 0 13px 0; 
    color: #FF0000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.popup__error:last-of-type {
    margin-bottom: 0;
}