.element__caption {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 31px;
    max-width: 100%;
    margin-right: 20px;
    margin-left: 21px;
    align-items: center;
  }