.profile-info {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: 30px;
    justify-items: flex-start;
    align-items: flex-end;
    column-gap: 18px;
    row-gap: 16px;
  }
  
  @media screen and (max-width: 690px) {
    .profile-info {
      margin-top: 26px 0 0 0;
      justify-items: center;
      column-gap: 10px;
      row-gap: 14px;
    }
  }